<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647415877470-ss6dksmpfvm851ova5pcl8irf8cpi9me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647415877470-ss6dksmpfvm851ova5pcl8irf8cpi9me</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647415877470-3ktca1eaiqagcla5nftsilnikhkdsq7q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Key-BuAZ6dMm2zfqj_wuAaUTm1LA3Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>647415877470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gerantech.muslim.holy.quran</string>
	<key>PROJECT_ID</key>
	<string>islamic-ce6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>islamic-ce6bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647415877470:ios:918757fed94c01028409cf</string>
</dict>
</plist>